In [9]:
import pandas as pd

In [10]:
df = pd.read_excel("C:\Isofh\Rasa\ConvertExceltoNLU\Kịch bản tương tác_VN.xlsx", sheet_name="Template Intent")
df.head(5)

,TOPIC,STT,INTENT,EXAMPLE,NOTE,Note: - Với mỗi intent cố gắng tạo ít nhất 2 example. Nếu không tìm được câu khác có thể lấy câu đầu tiên rồi sửa một vài từ.\n - Hiện làm những câu đơn giản trước. Những câu có liên quan đến chỉ số để đánh giá cần định nghĩa rõ sau.\n
0,âm đạo bị ra máu,NaN,intent_am_dao_bi_ra_mau,E đang gặp tình trạng âm đạo bị ra máu màu nâu đỏ,NaN,NaN
1,NaN,NaN,NaN,E đang gặp tình trạng âm đạo bị ra máu màu đỏ,NaN,NaN
2,NaN,NaN,intent_chua_den_ky_kinh_nguyet,1 tuần nữa mới đến kỳ kinh nguyệt của e,NaN,NaN
3,NaN,NaN,NaN,em chưa đến kỳ kinh nguyệt,NaN,NaN
4,NaN,NaN,NaN,chưa đến,NaN,NaN

In [11]:
# Write NLU YML:
f1 = open("C:/Isofh/Rasa/ConvertExceltoNLU/NLU.txt", "w")
f2 = open("C:/Isofh/Rasa/ConvertExceltoNLU/Domain_Intent.txt", "w")
f2.write("intents:\n")

for i, intent in enumerate(df["INTENT"]):
    if not df["INTENT"].isnull()[i]:
        # print(intent)
        line = "\n  - intent:  " + intent + "\n" + "    examples: |\n" + "      - " + str(df["EXAMPLE"][i]) + "\n"
        f1.write(line)
        line = "  - " + intent + "\n"
        f2.write(line)
        
    else:
        line = "      - " + str(df["EXAMPLE"][i]) + "\n"
        f1.write(line)

f1.close()
f2.close()

In [12]:
df = pd.read_excel("C:\Isofh\Rasa\ConvertExceltoNLU\Kịch bản tương tác_VN.xlsx", sheet_name="Template Response")
df.head(5)

,STT,RESPONSE,EXAMPLE,Unnamed: 3,Note: - Mỗi utter có thể có vài example để thay đổi ngữ điệu cũng được.\n - Thống nhất cách trả lời là xưng hô là tôi - bạn để đồng bộ và mang tính tổng quan.
0,NaN,utter_hoi_den_ky_kinh_nguyet_chua,Bạn có đang trong kỳ kinh nguyệt không?,NaN,NaN
1,NaN,utter_hoi_luong_mau_ra_co_nhieu_khong,Lượng máu ra có nhiều không?,NaN,NaN
2,NaN,utter_co_dung_thuoc_tranh_thai_khan_cap_khong,Gần đây bạn có dùng thuốc tránh thai khẩn cấp ...,NaN,NaN
3,NaN,utter_tac_dung_phu_cua_thuoc_tranh_thai_khan_cap,Đây có thể là tác dụng phụ của thuốc tránh tha...,NaN,NaN
4,NaN,utter_khong_co_kha_nang_thu_thai,"Nguy cơ rất thấp, gần như không bạn nhé. Đừng ...",NaN,NaN

In [13]:
# Write Domain Response YML:
f1 = open("C:/Isofh/Rasa/ConvertExceltoNLU/Domain_Response.txt", "w")

for i, utter in enumerate(df["RESPONSE"]):
    if not df["RESPONSE"].isnull()[i]:
        line = "\n  " + utter + ":\n" + "    - text: \"" + str(df["EXAMPLE"][i]) + "\"\n"
        f1.write(line)
        
    else:
        line = "    - text: \"" + str(df["EXAMPLE"][i]) + "\"\n"
        f1.write(line)

f1.close()

In [14]:
df = pd.read_excel("C:\Isofh\Rasa\ConvertExceltoNLU\Kịch bản tương tác_VN.xlsx", sheet_name="Template Stories")
df.head(5)

   STT                                Stories  Rules
0  1.0                intent_am_dao_bi_ra_mau    NaN
1  NaN      utter_hoi_den_ky_kinh_nguyet_chua    NaN
2  NaN         intent_chua_den_ky_kinh_nguyet    NaN
3  NaN  utter_hoi_luong_mau_ra_co_nhieu_khong    NaN
4  NaN                    intent_luong_mau_it    NaN

In [15]:
# Write Stories YML:
f1 = open("C:/Isofh/Rasa/ConvertExceltoNLU/Stories.txt", "w")

for i, stt in enumerate(df["STT"]):
    if not df["STT"].isnull()[i]:
        line = "\n- story: " + "story " + str(int(float(str(df["STT"][i])))) + "\n  steps:"
        f1.write(line)
        if "intent" in str(df["Stories"][i]):
            line = "\n  - intent: " + str(df["Stories"][i]) 
        else:
            line = "\n  - action: " + str(df["Stories"][i]) 

        f1.write(line)
        
    else:
        if "intent" in str(df["Stories"][i]):
            line = "\n  - intent: " + str(df["Stories"][i]) 
        else:
            line = "\n  - action: " + str(df["Stories"][i]) 

        f1.write(line)

f1.close()

In [12]:
df = pd.read_excel("C:\Isofh\Rasa\ConvertExceltoNLU\Kịch bản tương tác_VN.xlsx", sheet_name="Template Rules")
df.head(5)

,STT,Rules,Unnamed: 2,Note: Rules là với mỗi một intent nhất định sẽ luôn đưa ra một utter nhất định không quan tâm luồng câu chuyện trước đó
0,1.0,intent trào ngược bao tử,NaN,NaN
1,NaN,utter trào ngược bao tử,NaN,NaN
2,2.0,NaN,NaN,NaN

In [13]:
# Write Rules YML:
f1 = open("C:/Isofh/Rasa/ConvertExceltoNLU/Rules.txt", "w")

for i, stt in enumerate(df["STT"]):
    if not df["STT"].isnull()[i]:
        line = "\n  - rule: " + "rule " + str(int(float(str(df["STT"][i])))) + "\n    steps:"
        f1.write(line)
        if "intent" in str(df["Rules"][i]):
            line = "\n      - intent: " + str(df["Rules"][i]) 
        else:
            line = "\n      - action: " + str(df["Rules"][i]) 

        f1.write(line)
        
    else:
        if "intent" in str(df["Rules"][i]):
            line = "\n      - intent: " + str(df["Rules"][i]) 
        else:
            line = "\n      - action: " + str(df["Rules"][i]) 

        f1.write(line)

f1.close()